Create a list with one number, one word and one float value. Display the output of the list.

In [3]:
my_list = [1, "One word", 3.5]

print(my_list)

[1, 'One word', 3.5]

I have a nested list [1,1[1,2]], how to grab the value of 2 from the list.

In [10]:
nested_list = [1, 1,[1,2]]
print(nested_list[2][1])

2

lst=['a','b','c'] What is the result of lst[1:]?

In [12]:
lst = ['a','b','c']
# slicing [start:end:step]
lst[1:]

['b', 'c']

Create a dictionary with weekdays an keys and week index numbers as values.do assign dictionary to a variable

In [18]:
my_dictionary = {
    "Sunday": 1,
    "Monday": 2,
    "Tuesday": 3,
    "Wednesday": 4,
    "Thursday": 5,
    "Friday": 6,
    "Saturday": 7
    
}
print(my_dictionary)

{'Sunday': 1, 'Monday': 2, 'Tuesday': 3, 'Wednesday': 4, 'Thursday': 5, 'Friday': 6, 'Saturday': 7}

D={‘k1’:[1,2,3]} what is the output of d[k1][1]

In [22]:
D ={"k1": [1,2,3]}
print(D["k1"][1])

2

Can you create a list [1,[2,3]] into a tuple

In [38]:
# my_tuple = (1,[2,3])
tuple([1,[2,3]])
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, [2, 3])

With a single set function can you turn the word ‘Mississippi’ to distinct character word

In [40]:
w = "Mississippi"
print(w[::-1])

ippississiM

Can you add an element ‘X’ to the above created set

In [35]:
my_setx = {"apple", 1 , "onion"}
my_setx.add("x")
print(my_setx)

{'x', 1, 'apple', 'onion'}

Output of set([1,1,2,3])

In [55]:
print(set([1,1,2,3]))

{1, 2, 3}

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,between 2000 and 3200 (both included).
Hints: 
	Consider use range(#begin, #end) method

In [61]:
divisible_list=[]
#function range(#begin, #end)
for num_d in range(2000,3200):
    
    if (num_d%7==0) and (num_d%5==0):
        divisible_list.append(str(num_d))
        
# numbers obtained should be printed in a comma-separated sequence on a single line.
print (','.join(divisible_list))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

Write a program which can compute the factorial of a given numbers.
	The results should be printed in a comma-separated sequence on a single line.
	Suppose the following input is supplied to the program:

In [62]:

n = int(input("Please enter number to compute factorial: "))

n_factorial = 1
#function range(#begin, #end)
for i in range(1,n+1):
    n_factorial *= i
    
print(n_factorial)

Please enter number to compute factorial: 2
2

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

In [68]:
user_n = int(input("Please enter an integral number n: "))
my_dictionary = {}
for i in range(1, user_n + 1):
#assign to each unique key its value squared
    my_dictionary[i] = i*i
print(my_dictionary)

Please enter an integral number n: 4
{1: 1, 2: 4, 3: 9, 4: 16}

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

In [75]:
user_sequence = input("Please enter a sequence of values separated by a comma")
splitted_user_sequence = user_sequence.split(",")
print(splitted_user_sequence)
print(tuple(splitted_user_sequence))

Please enter a sequence of values separated by a comma34,43,3,0,1,11
['34', '43', '3', '0', '1', '11']
('34', '43', '3', '0', '1', '11')

Define a class which has at least two methods:
	getString: to get a string from console input
	printString: to print the string in upper case.

In [90]:
# Use the __init__() function to assign values to object properties, 
# or other operations that are necessary to do when the object is being created:
class CustomIOString:
    def __init__(str, user_str):
        str.user_str = user_str

    def getString(str):
        str.user_str = str
    def printString(str):
        print("String is: " + str.user_str)

s1 = CustomIOString("Hello World")
s1.printString()

String is: Hello World